* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* background-color: #ffffff; */
}
body {
    width: 1650px;
    margin: 0 auto;
    /* line-height: 1.6; */
    /* background-color: #1bbc9b; */
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

/* TOP nav */
.top_link {
    /* width: 1920px; */
    padding-top: 10px;
    padding-right: 50px;
    height: 50px;
    background-color: #112453;
    color: #ffffff;
    text-align: right;
}

.top_link .util li span::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0\00a0\00a0";
    color: #ffffff;
}

.top_link ul li a:link{
    color: #ffffff;
}

.top_link ul li a:visited {
    color: #ffffff;
}

.top_link ul li a:hover {
    color: #0088a9;
}

.top_link ul li {
    display: inline;
}

/* 메인 nav */
header {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* padding: 0 0%; */
}

.logo{
    cursor: pointer;
    margin: 50px 0px;
}

.nav_links {
    list-style: none;
}

.nav_links>li {
    display: inline-block;
    padding: 0px 20px;
    color: #112453;
    height: 50px;
    margin-top: 25px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: #112453;
    height: 50px;
}

.nav_links>li>a {
    font-size: 22px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    margin: 50px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    margin: 50px;
    color: #112453;
}

.nav_links li a:hover {
    color: #0088a9;
}

.submenu {
    display: none;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    z-index: 1;
}

.submenu>li {
    padding: 5px 0;
    display: block;
    
    /* background-color: #0088a9; */
}

.submenu li a:hover {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    /* background-color: #112453; */
    /* color: white; */
}

/* 퀵메뉴 */
.quick_area{
	position: fixed; 
    top: 400px; right: 0; 
    z-index: 100;
}

.quick_area .quick_list li{
	text-align: center;
	background-color: #112453;
	font-size: 15px;
}

.quick_area .quick_list li a{
	display: block;
	padding: 15px 0;
	border-top: 3px solid #ddd;
}


.quick_area .quick_list li:first-child a{
	border: none;
}


.quick_area .quick_list li:last-child a h3{
	padding-bottom: 0;
}

.quick_area .quick_list li a p{
	line-height: 1.3;
	font-size: 12px;
	color: #aaa;
	padding: 0 5px;
}
.quick_area .quick_list li a p:hover {
    color: #fff;
}

.totop {
    text-align: center;
}

.topimg {
    background-color: black;
}

/* 로그인 페이지 */
.login-form {
    width: 500px;
    height: 600px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

/* 아이디, 비밀번호 */
.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.text-field2 {
	font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
}
/* 우편번호찾기 */
.add_input {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
}
/* 우편번호찾기 버튼 */
.addr-btn {
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
    width: 28%;
    float: right;
    cursor: pointer;
}

/* 회원가입 버튼 */
.sign-btn {
    color: #EEEFF1;
    font-size: 14px;
    background-color: #112453;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.links {
    text-align: center;
}

.links a{
    font-size: 12px;
    color: #9b9b9b;
}

/* 푸터 */
#footer {
    line-height: 3;
}
.foot_list {
    text-align: center;
    margin-top: 50px;
}
.foot_list li {
    display: inline-block;
}
.foot_list li a {
    color: #666;
    font-size: 14px;
}

.foot_list li span::after {
    content: "\00a0\00a0\00a0\00a0|\00a0\00a0\00a0";
    color: black;
}

.foot_area {
    color: #666;
    font-size: 14px;
    text-align: center;
}

.foot_area p {
    display: inline;
}

.lhb {
    font-weight: 900;
    color: black;
    font-size: 16px;
}
